[Bb]in/
[Oo]bj/

.vs/
*.user
*.userosscache
*.suo
*.cache
*.sln.docstates
*.pdb
*.dbmdl
*.psess
*.vsp
*.log

[Tt]humbs.db
ehthumbs.db
.DS_Store

*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out

vendor/
